<!DOCTYPE html>
<html>
  <head>
    <title>Apptweet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  </head>

  <body>
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">apptweet</a>

    <%# <ul id="nav-mobile" class="right hide-on-med-and-down"> %>
     <% if user_signed_in? %>
     <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:  :log_out  %>
     <%= link_to "新規投稿する", new_tweet_path, method: :get, class: :new_post %>

     <% else %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/users/sign_in">ログイン</a></li>
      <li><a href="/users/sign_up">新規登録</a></li>
      </ul>
      <% end %>
        <% if user_signed_in? %>
      <%= form_tag('/tweets/:tweet_id/users/search', method: :get) do %>
        <%# <input class="search_nickname" name="keyword" placeholder="ニックネームで検索" type="text" value=""><button class="btn-search" title="検索" type="submit"><i class="icon-search"></i></button></input> %>
      <% end %>
    <% else %>
    <% end %>
  </div>
</nav>

  <script type="text/javascript" src="./app.js"></script>
      <%= yield %>
    </body>

</html>